.contact_btm { 
	background: #cecfd7; 
	padding-top: 2rem; 
	padding-bottom: 1rem; 
}
.contact_btm h2 { 
	margin: 1rem auto 2rem auto;
	color: #7f742a;
	text-align: center;
	font-weight: 300;
 }
.contact_btm .form-group { 
	margin-bottom: 1rem; 
}
.contact_btm .form-check  { 
	margin-bottom: 1rem; 
}


#contact-form h3 {
	font-size: 2rem;
	margin-top: 1rem;
}
#contact-form label {
	color: #5d5b6d; 
	font-size: 1.2em;
	font-weight: 400;
	text-align: left;
	margin: 10px auto 5px 0; 
	letter-spacing: 0.1em; 
}
#contact-form {
	font-size: 1em; 
	width: 100%; 
	margin-top: 1rem;
	margin-bottom: 5rem;
}
::placeholder { 
	color: #424d6b; 
	opacity: 1; 
}
.cf_input { 
	font-size: 1.2em; 
	padding: 6px 10px; 
}
.cf_textarea { 
	color: #32373c; 
	font-size: 1.2em; 
	padding: 6px 10px; 
	border-color: #bdbbcd; 
	height: 200px; 
	width: 100%;
}
#contact-form input[type="color"], 
#contact-form input[type="email"], 
#contact-form input[type="month"],
#contact-form input[type="number"],
#contact-form input[type="text"],
#contact-form  textarea,
#contact-form  select,
#contact-form  option {
	font-family: 'Josefin Sans';
	box-shadow: 0 0 0 transparent;
    border-radius: 4px;
    background-color: #e6e7f1;
    color: #32373c;
   	width: 100%;
	margin-bottom: 2rem;
	font-weight: 300;
	font-size: 1.2rem;
}
#contact-form input[type="checkbox"]:focus, 
#contact-form input[type="email"]:focus, 
#contact-form input[type="radio"]:focus, 
#contact-form input[type="tel"]:focus, 
#contact-form input[type="text"]:focus, 
#contact-form textarea:focus,
#contact-form  textarea:focus,
#contact-form  select:focus { 
	font-family: 'Josefin Sans';
	box-shadow: 0 0 11px rgba(33,33,33,.2); 
	color: #424d6b;
	background: #f3efdf;
	outline: none;
	border:none;
} 

#contact-form .form-check {
    margin-bottom: 1rem;
    margin-top: 1rem;
}
#contact-form .form-check-label {
	font-weight: 300;

}
.cf_captcha {
	margin:10px auto;
}
.g-recaptcha {
	text-align: center;
	display: inline-block;
}

.form-check-inline {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 0;
    margin-right: .75rem;

}

.cf_btn, .cf_btn:visited {
	margin-top: 1.4rem;
	margin-bottom: 1.4rem;
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1.3rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    letter-spacing: 2px;
    color: #fff;
    background: #424d6b;
    border: 1px solid #424d6b;
}
.cf_btn:hover, .cf_btn:focus {
	background: #182848;
	border-color: #182848;
}