.otrosP, .otrosP:visited { 
        background: #fff;
    margin-bottom: 1.5em; 
    position: relative; 
}
.otrosP:focus, .otrosP:hover { 
        background: #f2f0e1;
}

.otrosP-img { 
    height: 144px; 
    position: relative; 
    overflow: hidden; 
    border-radius: 4px 4px 0; 
}
.otrosP-img > img { 
    position: absolute; 
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}
.otrosP-body {
    padding: 1.125em;
}
.otrosP a{
    text-decoration: none;
    color: #07171d;
}
.otrosP-title {
    margin: 0;
    height: auto;
    word-break: break-word; 
 }
.otrosP-title h2 {
    word-break: break-word; 
    margin:0;
    font-size: 1.125em;
    line-height: 1.1em; 
    font-weight: normal;
    color: #0C0F66  ;
}

.otrosP-tipoVmin p { 
    font-size: 0.99em;
    line-height: 1.2em;
    overflow: hidden;
    text-overflow: ellipsis; 
    margin: 0.5em auto;
    color: #107FC9;
}

.otrosP-tipoVdesc {
    min-height: 6.4em;
}
.otrosP-tipoVdesc p { 
    font-size: 0.99em;
    line-height: 1.2em;
    overflow: hidden;
    text-overflow: ellipsis; 
    margin: 0.5em auto;
    color: rgba(7,23,29,0.8);
}
